.button {
  background-color: var(--gold-primary);
  color: var(--text-dark);
  border: 2px solid transparent;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  font-family: var(--font-body);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease; 
  outline: none;
  width: auto;
}

.button:hover {
  background-color: var(--hover-gold);
  color: var(--text-light);
  transform: scale(1.08);
  border-color: 2px solid var(--text-light); 
}

.small {
  padding: 0.3rem 1rem;
  font-size: 0.8rem;
  height: 30px;
}

.medium {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  height: 40px;
}

.large {
  padding: 0.7rem 2.2rem;
  font-size: 1.2rem;
  height: 50px;
}

