.hero {
    height: calc(100vh - 80px);
    margin-top: 80px;
    position: relative;
    overflow: hidden;
    background-color: var(--bg-main);
}

.arrowLeft,
.arrowRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    transition: transform 0.3s ease;
}

.arrowLeft {
    left: 1rem;
}

.arrowRight {
    right: 1rem;
}

.arrowLeft:hover,
.arrowRight:hover {  
  transform: translateY(-50%) scale(1.5);    
}

.arrowLeft img,
.arrowRight img {
    width: 2rem;
    height: auto;
    display: block;
}

.dots {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.8rem;
    z-index: 10;
}

.dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #020D22;  
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.activeDot {
    background-color: #D8B45A;  
    transform: scale(1.2);
}

.dot:hover {
    transform: scale(1.1);
}