:root {
  --bg-main: #FFFFFF;
  --bg-nav: #020D22;
  --gold-primary: #D8B45A;
  --text-dark: #000000;
  --text-light: #FFFFFF;
  --hover-gold: #B89335;
  /* --bg-nav: #07142B; */

  --font-title: 'Oleo Script', cursive;
  --font-body: 'Open Sans', sans-serif;
}